RewriteEngine On
RewriteBase /

# Home page
RewriteRule ^home$ /index.html [L]

# Solution page
RewriteRule ^solution$ /components/solution/solution.html [L]

# Contact page
RewriteRule ^contact$ /components/contact/contact.html [L]

# Remove .html extensions for direct access (optional if you want to allow solution.html etc. access directly)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]